body{
    padding: 0;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

#main-container{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    width:1050px;
    height: 650px;
    border-radius: 20px;
}

#image-section{
    float:left;
}
.woman-mobile-version{
    display: none;
}