body{
    padding: 0;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
}

#main-container{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    width:1050px;
    height: 600px;
    border-radius: 20px;
}
#heading{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top:50px;
    margin-bottom: 50px;
}
/* This is the image section of our site */
#image-section{
    width: 50%;
    margin-right:20px;
}
.woman{
    position: relative;
    width: 600px;
    height: 700px;
    right: 100px;
    z-index: 1;
}


.pattern{
    position: absolute;
    left: 100px;
    top: 50px;
    z-index: 0;
}


/* This is code for out faq section */
#faq-section{
    width: 50%;
    height:100%;
}
#faq-section hr{
    width: 80%;
    margin: 20px 0;
    border: 1px solid hsl(240, 73%, 65%);
    display: block;
}

#faq-section .arrow{
    float: right;
    margin-right: 120px;
    margin-top: 10px;
}


#card{
    height:50px;
    width: 100%;
}
.card-question{
    display:inline;
    margin-top:30px;
}
.card-answer{
    display:none;
}

.arrow{
    display: inline-block;
}