body{
    padding: 0;
    margin: 0 auto;
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

#main-container{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    width:1000px;
    height: 600px;
}

#image-section{
    float:left;
}